<div class="alert alert-danger" role="alert" *ngIf="errorMsg">
  {{ errorMsg }}
</div>
<ul class="list-group" *ngFor="let todo of todos">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <div class="custom-control custom-checkbox mr-3">
        <input
          type="checkbox"
          class="custom-control-checkbox form-control-xl"
          [checked]="todo.completed"
          (change)="updateTodo(todo)"
          id="customCheck1"
        />
      </div>
      {{ todo.name }}
    </div>
    <div class="d-flex align-items-center">
      <input
        type="button"
        class="btn btn-danger ml-4"
        value="delete"
        (click)="deleteTodo(todo)"
      />
    </div>
  </li>
</ul>
